@import url('https://fonts.googleapis.com/css?family=Alegreya');


html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

* {
    margin: 0;
    padding: 0;
}


/* navbar */
.container {
    display:grid;
    grid-template-columns: minmax(6rem,1fr) 
    repeat(8, minmax(min-content,16rem))
    minmax(6rem,1fr);
    grid-template-rows: repeat(3,min-content);
    grid-gap: 1.3rem;
    margin-top: 1.6rem;
}

.social-icons{
    list-style: none;
    grid-column:2/4;
    grid-row:1/2;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem, 1fr));
    align-items: center;
}

.social-icon {
    font-size: 1.8rem;
    color:#003366;
    transition: all .3s;
}

.social-icon:hover{
    color:#3459ef;
    transform: rotate(360deg);
}

.social-icon-item{

}

.social-icon-link
{

}

.first-nav {
    grid-column:6/10;
    grid-row:1/2;
  
}

.first-nav-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
    list-style: none;
}

.first-nav-item{

}

.first-nav-link{
    font-size: 1.8rem;
    text-decoration: none;
    /* color:#12376e; */
    color:#003366;
    display: inline-block;
    width:100%;
    text-align: center;
}

.first-nav-link::after {
    content: "";
    width:0;
    height:.1rem;
    background-color:#003366;
    display: block;
    margin:auto;
    transition:width .2s cubic-bezier(.55,0,.98,.54);
}

.first-nav-link:hover::after {
    width:100%;
}

.first-nav-link span {
    font-size: 1.3rem;
    color:#34598f;
}

.first-nav-link i {
    font-size: 1.3rem;
    margin-right: .3rem;
}

.search{
    grid-column: 8 / 10;
    grid-row: 2/3;
}

.search-form{
    display:grid;
    grid-template-columns: repeat(10,10%);
}

.search-input {
    grid-column: 3/ -1;
    grid-row: 1/2;
    padding: .3rem .4rem;
    font-size: 1.3rem;
    border:none;
    border-bottom: .1rem solid #003366;
    outline: none;
}

.search-btn{
    grid-column: 10/-1;
    grid-row: 1/2;
    border:none;
    background: transparent;
    cursor: pointer;
}

.second-nav {
    grid-column: 2/10;
    grid-row:3/4;
    border-top: .1rem solid #003366;
    border-bottom: .1rem solid #003366;
}

.second-nav-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    list-style: none;
}

.second-nav-link{
    text-align: center;
    display:grid;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color:#003366;
    padding: .8rem 0;
    transition:all .5s .3s;
}

.second-nav-item:hover .second-nav-link {
    background-color: #003366;
    color:#fff;
}
.second-nav-link::before,
.second-nav-link::after {
    content: "";
    width:0;
    height:.1rem;
    background-color:#003366;
    display: block;
    transition: width .3s  cubic-bezier(.55,0,.98,.54),
    background-color .5s .3s;
}

.second-nav-link::after {
    justify-self: end;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after
{
    width:100%;
    background-color: #fff;
}

.dropdown {
    display:none;
}
/* end of navbar */









